<header>
    <div class="top-nav sub-title ">
        <ul class="nav ">
            <li class="nav-item mr-3">
            <a class="nav-link active" href="#">
                <i class="fas fa-envelope mr-1"></i>
                e-shop.com@gmail.co.uk
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-phone-alt mr-1"></i>
                +12345678
            </a>
            </li>

        <ul class="nav ml-auto mr-4">
            <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fab fa-facebook-f mr-4"></i>
                <i class="fab fa-twitter mr-4"></i>
                <i class="fab fa-instagram "></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NGN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">USD</a>
                <a class="dropdown-item" href="#">GED</a>
                </div>
            </li>
            </ul>
        </ul>
    </div>


    <nav class="navbar navbar-expand-lg mid-nav">
        <h2 class="brand" href="#"><span>E-</span>Shop</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
         
            <div class="input-group ml-auto ">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
            </div>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 side">
            <li class="nav-item">
                <button type="submit" class="btn mr-4 nav-link"><i class="fas fa-user mr-1"></i>Login</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="cart"> <i class="fas fa-shopping-cart mr-1"></i> Cart</a>
            </li>
          </ul>
         
        </div>
    </nav>


    <div class="category-nav sub-title">
        <ul class="nav nav-main ">
            <li class="nav-item pr-3">
            <a class="nav-link nav-cat">
              All Categories <i class="fas fa-bars ml-1"></i>
            </a>
            </li>

            <ul class=" nav pl-5">
                <li class="nav-item ">
                <a class="nav-link" href="#">
                    Health and Beauty
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Phones and Tablets
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">
                            Computing
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    Eletronics
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    Fashion
                </a>
                </li>
            </ul>

        </ul>
    </div>


</header>