

    .container{
        padding-top: 4%;
        padding-left: 25%;
        padding-right: 25%;

        form{
            .btn{
                background-color: #54A4A6;
                width: 80%;
            }
        }
    }

    /* Media Queries*/
    @media only screen and (max-width: 991px) {

       
        .container{
            padding-top: 3%;
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    @media only screen and (max-width: 767px) {
        .container{
            padding-top: 3%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }

